# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
ENV/
venv/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Pytest
.pytest_cache/
.coverage

# IDE/editor
.vscode/
.idea/
.DS_Store

# Local environment files
.env.local
